<div class="container">
  <div class="row mt-5 mb-4">
    <h1>These people want to book you</h1>
    <div class="mt-2 mb-2">
      <h4>Pending bookings</h4>
    </div>
    <% if @bookings_requested.empty? %>
      <div>
        <p>You have no pending requests for you, Human 😔</p>
      </div>
    <% else %>
      <% @bookings_requested.each do |booking| %>
          <div class="card m-2 p-3 completed">
            <div class="card-title">
              <h6>Booking</h6>
              <h2><%= booking.description.capitalize %></h2>
            </div>
            <div class="card-subtitle mb-2 text-muted mt-2">
              <p>User <%= booking.user_bookee_id %> is requesting your time.</p>
            </div>
            <div class="price">
              <p>In return, will be paid: £<%= booking.total_price %>. Noice.</p>
            </div>
            <div class="d-flex justify-content-left">
              <div class="btn btn-success  m-2">
                <p><%= link_to "Accept", accepted_path(@user, booking) %></p>
              </div>
              <div class="btn btn-danger m-2">
                <p><%= link_to "Reject", rejected_path(@user, booking) %></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    <div class="mt-2 mb-2">
      <h4>Active bookings</h4>
    </div>
    <% if @bookings_as_bookee_active.empty? %>
      <div>
        <p>You have no active bookings</p>
      </div>
    <% else %>
      <% @bookings_as_bookee_active.each do |booking| %>
          <div class="card col-6 m-4 p-3 completed">
            <div class="card-title">
              <h6>Booking</h6>
              <h2><%= booking.description.capitalize %></h2>
            </div>
            <div class="card-subtitle mb-2 text-muted mt-2">
              <p>You will be getting User <%= booking.user_bookee_id %>'s time.</p>
            </div>
            <div class="price">
              <p>In will pay: £<%= booking.total_price %>. Noice.</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="edit">
                <p><%= link_to "Edit", edit_user_booking_path(@user, booking) %></p>
              </div>
              <div class="delete">
                <p><%= link_to "Delete", user_booking_path(@user, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you delete this booking?"}%></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    <div class="mt-2 mb-2">
      <h4>Completed bookings</h4>
    </div>
    <% if @bookings_as_bookee_completed.empty? %>
      <div>
        <p>You have no completed bookings</p>
      </div>
    <% else %>
      <% @bookings_as_bookee_completed.each do |booking| %>
          <div class="card col-6 m-4 p-3 completed">
            <div class="card-title">
              <h6>Booking</h6>
              <h2><%= booking.description.capitalize %></h2>
            </div>
            <div class="card-subtitle mb-2 text-muted mt-2">
              <p>You will be getting User <%= booking.user_bookee_id %>'s time.</p>
            </div>
            <div class="price">
              <p>In will pay: £<%= booking.total_price %>. Noice.</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="edit">
                <p><%= link_to "Edit", edit_user_booking_path(@user, booking) %></p>
              </div>
              <div class="delete">
                <p><%= link_to "Delete", user_booking_path(@user, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you delete this booking?"}%></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    <div class="mt-2 mb-2">
      <h4>Rejected bookings</h4>
    </div>
    <% if @bookings_as_bookee_rejected.empty? %>
      <div>
        <p>You have no rejected bookings</p>
      </div>
    <% else %>
      <% @bookings_as_bookee_rejected.each do |booking| %>
          <div class="card col-6 m-4 p-3 completed">
            <div class="card-title">
              <h6>Booking</h6>
              <h2><%= booking.description.capitalize %></h2>
            </div>
            <div class="card-subtitle mb-2 text-muted mt-2">
              <p>You will be getting User <%= booking.user_bookee_id %>'s time.</p>
            </div>
            <div class="price">
              <p>In will pay: £<%= booking.total_price %>. Noice.</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="edit">
                <p><%= link_to "Edit", edit_user_booking_path(@user, booking) %></p>
              </div>
              <div class="delete">
                <p><%= link_to "Delete", user_booking_path(@user, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you delete this booking?"}%></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    <h1>These are Humans you've booked</h1>
    <div class="mt-2 mb-2">
      <h4>Pending bookings</h4>
    </div>
    <% if @bookings_pending.empty? %>
      <div>
        <p>You have no pending bookings</p>
      </div>
    <% else %>
      <% @bookings_pending.each do |booking| %>
          <div class="card col-6 m-4 p-3 completed">
            <div class="card-title">
              <h6>Booking</h6>
              <h2><%= booking.description.capitalize %></h2>
            </div>
            <div class="card-subtitle mb-2 text-muted mt-2">
              <p>You will be getting User <%= booking.user_bookee_id %>'s time.</p>
            </div>
            <div class="price">
              <p>In will pay: £<%= booking.total_price %>. Noice.</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="edit">
                <p><%= link_to "Edit", edit_user_booking_path(@user, booking) %></p>
              </div>
              <div class="delete">
                <p><%= link_to "Delete", user_booking_path(@user, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you delete this booking?"}%></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    <div class="mt-2 mb-2">
      <h4>Active bookings</h4>
    </div>
    <% if @bookings_active.empty? %>
      <div>
        <p>You have no active bookings</p>
      </div>
    <% else %>
      <% @bookings_active.each do |booking| %>
          <div class="card col-6 m-4 p-3 completed">
            <div class="card-title">
              <h6>Booking</h6>
              <h2><%= booking.description.capitalize %></h2>
            </div>
            <div class="card-subtitle mb-2 text-muted mt-2">
              <p>You will be getting User <%= booking.user_bookee_id %>'s time.</p>
            </div>
            <div class="price">
              <p>In will pay: £<%= booking.total_price %>. Noice.</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="edit">
                <p><%= link_to "Edit", edit_user_booking_path(@user, booking) %></p>
              </div>
              <div class="delete">
                <p><%= link_to "Delete", user_booking_path(@user, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you delete this booking?"}%></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    <h4>Completed bookings</h4>
    <% if @bookings_completed.empty? %>
      <p>You have no completed bookings</p>
    <% else %>
      <% @bookings_completed.each do |booking| %>
          <div class="card col-6 m-4 p-3 completed">
            <div class="card-title">
              <h6>Booking</h6>
              <h2><%= booking.description.capitalize %></h2>
            </div>
            <div class="card-subtitle mb-2 text-muted mt-2">
              <p>You got User <%= booking.user_bookee_id %>'s' time.</p>
            </div>
            <div class="price">
              <p>In paid: £<%= booking.total_price %>. Noice.</p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="edit">
                <p><%= link_to "Edit", edit_user_booking_path(@user, booking) %></p>
              </div>
              <div class="delete">
                <p><%= link_to "Delete", user_booking_path(@user, booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you delete this booking?"}%></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
