<div class="container">
  <div class="row mt-4">
    <div class="title-top">
      <h1>Hourly Humans</h1>
      <p>Many humans, little hours</p>
      <% if user_signed_in? %>
        <%= link_to "Create a listing", new_user_booking_path(current_user), class: "btn btn-primary w-1/4", style: "btn-sm" %>
      <% end %>
    </div>
  </div>
  <div class="grid-card">
    <% @users.reverse.each do |user| %>
      <div class="card">
        <div class="card-info">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <% if user.photo.key.present? == true %>
              <%= cl_image_tag user.photo.key, height: 80, width: 80, :class => "rounded-circle" %>
            <% else %>
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="80">
            <% end %>
            <strong><%= link_to user.first_name, user_path(user) %></strong> <br>
          </div>
          <div>
            <strong>Category: </strong><%= user.task %> <br>
            <strong>Price: </strong>£<%= user.hourly_price %> <br>
            <strong>Location: </strong><%= user.location %> <br>
          </div>
        </div>
        <%# <button type="button" id="btn">Rent human</button> %>
        <div class="d-flex justify-content-center">
          <%= link_to "Rent a human", new_user_booking_path(user), class: "btn btn-outline-primary", style: "btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# Previous code that was used with Unordered List %>
<%# ______________________________________________________ %>
<%#
    <ul>
<div class="grid-card">
      <% @users.each do |user| %>
  <%# <div class="card"> %>
  <%# <strong><%= link_to user.first_name, booking_path(user) %>
  <%# <li><strong>Category: </strong><%= user.task %>
  <%# <li><strong>Price: £</strong><%= user.hourly_price %>
  <%# <li><strong>Location: </strong><%= user.location %>
  <%# </div> %>
  <%# <% end %>
  <%# </div> %>
  <%# </ul> %>
  <%# </div> %>
