<div class="container">
<div class="title-top">
  <h1>Hourly Humans</h1>
  <p>Many humans, little hours</p>
    <div id="btn">
      <%= button_to "Create a listing", new_booking_path(current_user) %>
    </div>
  </div>


<div class="grid-card">
      <% @users.each do |user| %>
        <div class="card">
          <strong><%= link_to user.first_name, booking_path(user) %></strong>
          <strong>Category: </strong><%= user.task %>
          <strong>Price: £</strong><%= user.hourly_price %>
          <strong>Location: </strong><%= user.location %>
          <button type="button" id="btn">Rent human</button>
        </div>
      <% end %>
  </div>
</div>


<%# Previous code that was used with Unordered List %>
<%# ______________________________________________________ %>
<%#
    <ul>
<div class="grid-card">
      <% @users.each do |user| %>
        <%# <div class="card"> %>
          <%# <strong><%= link_to user.first_name, booking_path(user) %>
          <%# <li><strong>Category: </strong><%= user.task %>
          <%# <li><strong>Price: £</strong><%= user.hourly_price %>
          <%# <li><strong>Location: </strong><%= user.location %>
        <%# </div> %>
      <%# <% end %>
  <%# </div> %>
    <%# </ul> %>
<%# </div> %>
